*.o
.DS_Stroe
test.c
a.out
.vscode
*.a
*.dylib
bonus
cub3d
a
*.swiftdoc
*.swiftmodule
test_map
./minilibx/mlx_image.swiftsourceinfo
./minilibx/mlx_init.swiftsourceinfo
./minilibx/mlx_window.swiftsourceinfo
